<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Harness Common Diagnostics" Description="This file contains diagnostic settings used by all Harness projects. Projects that need specific settings should have their own rule set files that Include this one, and then make the necessary adjustments." ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="AD0001" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0003" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1009" Action="None" />
    <Rule Id="SA1111" Action="None" />
	<Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>